* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2F2F2F;
}

main {
    width: 80%;
    height: 85%;
    display: flex;
    gap: 1rem;
}

.barraLateral {
    width: 15rem;
    display: flex;
    justify-content: center;
    background-color: #1F1F1F;
}

.conteudoBarraLateral {
    width: 85%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 1rem;
}

.conteudoBarraLateral h1 {
    font-size: 1.4rem;
    font-weight: 700;
    color: white;
}

.linksBarraLateral {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-top: 5rem;
    gap: 1.5rem;
}

.linksBarraLateral h2 {
    font-size: 1rem;
    font-weight: 900;
    color: #1E74D7;
}

.linksBarraLateral a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    transition: transform 0.4s;
}

.linksBarraLateral a:hover {
    transform: translateX(1rem) scale(1.1);
}

.containerPrincipal {
    height: 100%;
    width: 100%;
}

.homeContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1F1F1F;
}

.newContainer {
    background-color: #1F1F1F;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.newContainer .linkVoltar img {
    height: 3rem;
    margin: 1rem;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 5rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    background-color: #2F2F2F;
}

.card a{
    margin-left: 4rem;
    text-decoration: none;
    color: #1E74D7;
}

.card .fraquezasContainer {
    display: flex;
    margin-right: 2rem;
    gap: 2rem;
}

.card .fraquezasContainer .fraquezaItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .fraquezasContainer .fraquezaItem img {
    height: 1.5rem;
}

.card .fraquezasContainer .fraquezaItem span {
    color: white;
}

.card .resistancesContainer {
    display: flex;
    margin-right: 2rem;
    gap: 2rem;
}

.card .resistancesContainer img {
    height: 1.5rem;
}

.card .resistancesContainer .resistenciaItem {
    display: flex;
    align-items: center;
}

.card .resistancesContainer .resistenciaItem span {
    color: white;
}

.card .durabilityContainer {
    display: flex;
    margin-right: 2rem;
    gap: 2rem;
}

.card .durabilityContainer .durabilityItem {
    display: flex;
    align-items: center;
    gap: 0.5rem;

}

.card .durabilityContainer .durabilityItem .colorCircle {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
}

.card .durabilityContainer .durabilityItem span {
    color: white;
}

.newContainerLoadMonster {
    height: 100%;
    width: 100%;
    background-color: #1F1F1F;
}

.newContainerLoadMonster a img {
    height: 3rem;
    margin: 1rem;
}

.newContainerLoadMonster h1 {
    font-size: 4rem;
    color: white;
    margin-top: 4rem;
    text-decoration: underline;
    margin-left: 5rem;
}

.newContainerLoadMonster h2 {
    color: white;
    font-size: 1.5rem;
    font-weight: 800;
    margin-left: 5rem;
    margin-top: 3rem;
}

.newContainerLoadMonster p {
    color: white;
    font-size: 1.5rem;
    width: 50%;
    margin-top: 1rem;
    margin-left: 5rem;
}

.newContainerLoadMonster h3 {
    color: white;
    font-size: 1.5rem;
}

.newContainerLoadMonster .resistancesContainer {
    margin-top: 2rem;
    margin-left: 5rem;
}

.newContainerLoadMonster .resistancesContent {
    background-color: #2F2F2F;
    width: 90%;
    height: 5.5rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    gap: 3rem;
}

.newContainerLoadMonster .resistancesContent .resistanceItem span {
    color: white;
    font-size: 1.5rem;
}

.newContainerLoadMonster .weaknessesContainer {
    margin-top: 2rem;
    margin-left: 5rem;
}

.newContainerLoadMonster .weaknessesContent {
    background-color: #2F2F2F;
    width: 90%;
    height: 5.5rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    gap: 3rem;
}

.newContainerLoadMonster .weaknessesContent img {
    height: 2.5rem;
}

.newContainerLoadMonster .weaknessesContent .weaknessItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newContainerLoadMonster .weaknessesContent .weaknessItem span {
    color: white;
    font-size: 1.5rem;
}

.newContainerLoadArmor {
    width: 100%;
    height: 100%;
    background-color: #1F1F1F;
}

.newContainerLoadArmor a img {
    height: 3rem;
    margin: 1rem;
}

.newContainerLoadArmor h1 {
    font-size: 3rem;
    color: white;
    margin-top: 4rem;
    text-decoration: underline;
    margin-left: 5rem;
    margin-bottom: 1rem;
}

.newContainerLoadArmor .armorType {
    font-size: 1rem;
    color: white;
    margin-left: 5rem;
}

.newContainerLoadArmor .detailsContainer {
    width: 83%;
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    margin-left: 5rem;
}

.newContainerLoadArmor .detailsContainer .descriptionContainer {
    width: 35%;
    color: white;
}

.newContainerLoadArmor .detailsContainer .defenseContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}

.newContainerLoadArmor .detailsContainer .materialsContainer {
    display: flex;
    flex-direction: column;
    color: white;
}

.newContainerLoadArmor .resistancesContainer h3 {
    color: white;
    font-size: 1.5rem;
    margin-top: 5rem;
}

.newContainerLoadArmor .resistancesContainer {
    margin-top: 2rem;
    margin-left: 5rem;
}

.newContainerLoadArmor .resistancesList {
    background-color: #2F2F2F;
    width: 90%;
    height: 5.5rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    gap: 3rem;
}

.newContainerLoadArmor .resistancesList .resistanceItem img {
    height: 2.5rem;
}

.newContainerLoadArmor .resistancesList .resistanceItem span {
    color: white;
    font-size: 1.5rem;
}

.newContainerLoadWeapon {
    width: 100%;
    height: 100%;
    background-color: #1F1F1F;
}

.newContainerLoadWeapon img {
    height: 3rem;
    margin: 1rem;
}

.newContainerLoadWeapon h1 {
    font-size: 3rem;
    color: white;
    margin-top: 4rem;
    text-decoration: underline;
    margin-left: 5rem;
    margin-bottom: 1rem;
}

.newContainerLoadWeapon .infoContainer {
    width: 84%;
    display: flex;
    justify-content: space-between;
    margin-left: 5rem;
    margin-top: 5rem;
}

.infoContainer .materialsDiv h3, .infoContainer .materialsDiv p {
    color: white;
}

.infoContainer .statsTable {
    display: flex;
    height: 4rem;
    background-color: #2F2F2F;
}

.statsTable strong {
    background-color: #434343;
    width: 8rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.statsTable span {
    color: white;
    margin: 0.5rem;
}


.statsTable .damage, .rarity, .slots {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newContainerLoadWeapon .durabilityContainer {
    margin-left: 5rem;
    margin-top: 5rem;
}

.newContainerLoadWeapon .minDurability {
    background-color: #2F2F2F;
    width: 90%;
    height: 5.5rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    gap: 3rem;
}

.newContainerLoadWeapon .maxDurability {
    background-color: #2F2F2F;
    width: 90%;
    height: 5.5rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    gap: 3rem;
}

.newContainerLoadWeapon .durabilityContainer h3 {
    color: white;
    margin-top: 2rem;
}

.newContainerLoadWeapon .durabilityContainer .durabilityItem {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.newContainerLoadWeapon .durabilityContainer .durabilityItem .colorCircle {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
}

.newContainerLoadWeapon .durabilityContainer .durabilityItem span {
    color: white;
    font-size: 1rem;
}

.conteudoHomeContainer {
    height: 90%;
    width: 80%;
}

.conteudoHomeContainer h1 {
    font-size: 1rem;
    font-weight: 100;
    color: #969696;
}

.exemploNomes {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 4rem;
}

.exemploNomes .exemplo {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exemploNomes .exemplo .tituloExemplos {
    width: fit-content;
}

.exemploNomes .exemplo .tituloExemplos h1 {
    font-size: 1rem;
    font-weight: 800;
    color: white;
}

.exemploNomes .exemplo .tituloExemplos hr {
    height: 0.25rem;
    border: none;
    background-color: #1E74D7;
    margin-bottom: 1rem;
}

.exemploNomes .exemplo h2 {
    font-size: 1rem;
    font-weight: 100;
    color: #969696;
    margin-bottom: 0.25rem;
}

.exemploNomes .exemplo .nomes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.exemploNomes .exemplo .nomes span {
    font-weight: 500;
    color: white;
}

.exemploNomes .exemplo a {
    color: #1E74D7;
}

#containerLoading {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#containerLoading #textLoading{
    font-size: 36px;
    font-weight: 800;
    color: white;
}