* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2F2F2F;
}

main {
    width: 80%;
    height: 85%;
    display: flex;
    gap: 1rem;
}

.barraLateral {
    width: 15rem;
    display: flex;
    justify-content: center;
    background-color: #1F1F1F;
}

.conteudoBarraLateral {
    width: 85%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 1rem;
}

.conteudoBarraLateral h1 {
    font-size: 1.4rem;
    font-weight: 700;
    color: white;
}

.linksBarraLateral {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-top: 5rem;
    gap: 1.5rem;
}

.linksBarraLateral h2 {
    font-size: 1rem;
    font-weight: 900;
    color: #1E74D7;
}

.linksBarraLateral a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    transition: transform 0.4s;
}

.linksBarraLateral a:hover {
    transform: translateX(1rem) scale(1.1);
}

.containerPrincipal {
    height: 100%;
    width: 100%;
}


.homeContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1F1F1F;
}

.newContainer {
    background-color: red;
    height: 100%;
    width: 100%;
}

.newContainer .linkVoltar img {
    height: 3rem;
}

.card {
    width: 100%;
    background-color: aquamarine;
}

.conteudoHomeContainer {
    height: 90%;
    width: 80%;
}

.conteudoHomeContainer h1 {
    font-size: 1rem;
    font-weight: 100;
    color: #969696;
}

.exemploNomes {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 4rem;
}

.exemploNomes .exemplo {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exemploNomes .exemplo .tituloExemplos {
    width: fit-content;
}

.exemploNomes .exemplo .tituloExemplos h1 {
    font-size: 1rem;
    font-weight: 800;
    color: white;
}

.exemploNomes .exemplo .tituloExemplos hr {
    height: 0.25rem;
    border: none;
    background-color: #1E74D7;
    margin-bottom: 1rem;
}

.exemploNomes .exemplo h2 {
    font-size: 1rem;
    font-weight: 100;
    color: #969696;
    margin-bottom: 0.25rem;
}

.exemploNomes .exemplo .nomes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.exemploNomes .exemplo .nomes span {
    font-weight: 500;
    color: white;
}

.exemploNomes .exemplo a {
    color: #1E74D7;
}
